body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  display: flex;
  color: #ffffff;
  background-image: url("./assets/rm251-aum-14-g.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  background-color: #e4cbff;
  position: sticky;
  top: 0;
}

button {
  color: #d911cb;
}
.navbar-toggler-icon {
  background-color: #bf06a0;
  border: 3px solid #d911cb;
  font-size: 3rem;
}

.navbar-nav a {
  margin: 0.5rem;
  padding: 0.5rem;
  opacity: 0.8;
}
.navbar-nav a:hover {
  color: #a61f77;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
h2,
h3 {
  text-align: center;
}
p {
  text-align: center;
}

.home-page {
  font-family: "Abril Fatface", serif;

  min-width: 500px;
  min-height: 80%;
}

.project-page {
  min-height: 70%;
  position: relative;
  min-width: 100vw;
}

.contact-page {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.home-text {
  color: #ffa4b6;
  font-size: 1.4rem;
}

.about-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: none;
  min-height: 80%;
}

.about-page p {
  font-size: 1.5rem;
}

.error-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/david-pupaza-heNwUmEtZzo-unsplash.jpg");
}

.btn {
  background-color: #d911cb;
}
.footer {
  background-color: #730255;
  color: #ffffff;
}

.projectCard {
  background-color: #730255;
  width: 40%;
  height: 200px;
}

input,
textarea {
  width: 400px;
}
