:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: #1c1c26;
  color: #f2f2f2;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.bg-blue {
  background-color: #04bfbf;
}

.bg-own {
  background-color: #f28599;
}

nav,
.navbar {
  background-color: #f26b83;
  color: #f2f2f2;
  position: sticky;
  top: 0;
}

.navbar-nav a {
  color: #f2f2f2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
h2,
h3 {
  text-align: center;
}
p {
  text-align: center;
}

.home-text p {
  text-align: right;
  font-size: 1.3rem;
}

.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/1957.516-Fragment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 500px;
  min-height: 100%;
}

.project-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/david-pupaza-heNwUmEtZzo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
  min-width: 100vw;
}

.contact-page {
  background-color: #f2f2f2;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.home-text {
  background-color: white;
  color: black;
}

.home-text p {
  font-size: 1.3rem;
}

.about-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/leonard-cotte-R5scocnOOdM-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: none;
  min-height: 100%;
}

a:active {
  text-decoration: underline;
}

.about-page p {
  font-size: 1.5rem;
}

.error-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/david-pupaza-heNwUmEtZzo-unsplash.jpg");
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
